@model ProyectoTienda.Models.Informacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Informacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Permisos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Permisos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncardadoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncardadoEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PcrEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PcrEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncardadoDes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncardadoDes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PcrDes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PcrDes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectornico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectornico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntregaDomicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntregaDomicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservaPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservaPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transBancaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.transBancaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Efectivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Efectivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaElectronica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacturaElectronica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaFisica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacturaFisica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
