@model IEnumerable<DueñoTienda>

@{
    ViewData["Title"] = "Index";
}

    

<div id="contenedor">
    <div id="menu">
        <div class="content" style="text-align:left">
            <a type="button" href="" class="btn btn-dark text-white">Perfil</a>
        </div>
        <center><h3 style="color:#7B241C">Mis Productos</h3></center>
        <br>
        <div class="d-sm-table">
            <table class="table table-bordered thead-light">

                <thead class="text-white" style="background-color:#7B241C">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FotoBase64)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Detalle)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Precio)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@item.FotoBase64" alt="Fotografía no encontrada" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Detalle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>
                            <td>
                                <center>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <br>
                                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> <br>
                                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                                </center>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br><br><br><br>
            <center>
                <p>
                    <a class="btn btn-outline-secondary" asp-action="Create">Crear</a>
                </p>
            </center>
        </div>
    </div>
    @*s*@
    <br>
    <div class="content" style="text-align:right">
        <a type="button" href="https://localhost:44338/" class="btn btn-dark text-white">Atras</a>
    </div>
    <center><h3 style="color:#7B241C">Mi Publicidad</h3></center>
    <br>
    <div class="d-sm-table">
        <table class="table table-bordered thead-dark">
            <thead class="text-white" style="background-color:#7B241C">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FotoBase64)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Detalle)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@item.FotoBase64" alt="Fotografía no encontrada" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Detalle)
                        </td>

                        <td>
                            <center>
                                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <br>
                                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> <br>
                                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                            </center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br><br><br><br>
        <center>
            <p>
                <a class="btn btn-outline-secondary" asp-action="Create">Crear</a>
            </p>
        </center>
    </div>
    @*<br>
        <center>
            <h3>Mi Publicidad</h3>
            <br><br>
            <div class="my-custom-scrollbar">
                <table class="table table-bordered table-white">
                    <tbody>
                        <tr>
                            <td>
                                <center>
                                    <img src="~/imagenes/imagen 2.jpg" alt="" height="200" width="250" />
                                    <br><br>2x1 en todos los productos de limpieza
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <img src="~/imagenes/imagen3.jpg" alt="" height="200" width="250" />
                                    <br><br>PediaSure con el 10% de descuento,<br> Gratis a domicilio
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <img src="~/imagenes/imagen4.jpg" alt="" height="200" width="250" />
                                    <br><br>50% de descuento
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <center>
                <button type="button" class="btn btn-outline-dark">Editar</button>
                <button type="button" class="btn btn-outline-dark">Borrar</button>
            </center>
        </center>*@
</div>
